/* mobile styles */
header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #006EF5;
}

.header-section-bottom {
  background: #004EAE;
}

.header-section section {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 50px;
}

.menu-toggle:hover {
  background: #004EAE;
}

.menu-toggle-open,
.menu-toggle-close {
  position: absolute;
  left: 17px;
  width: 40%;
}

.toggle-invisible {
  display: none;
}

.menu-text-cotainer {
  width: 100%;
  height: auto;
}

.nav-menu {
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-menu-open {
  height: auto;
}

.nav-menu li {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255,255,255, .3);
}

.nav-menu li a {
  color: #fff;
  font-size: 18px;
}

.nav-menu li:hover {
  background: #013371;
}

.nav-menu li:hover a {
  color: #FFC700;
}

#menu-item-127 {
  background: #013371;
}

#menu-item-127 a {
  color: #FFC700;
}

.svg-container {
  display: flex;
}

header svg {
  width: 45px;
  height: 50px;
  fill: #fff;
}

header p {
  display: none;
  font-size: 16px;
  color: #fff;
}

/* desktop styles */
@media (min-width: 750px) {
  header {
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-section {
    width: 100%;
  }
  .menu-toggle {
    display: none;
  }
  .svg-container {
    padding-left: 2%;
  }
  header p {
    display: initial;
    padding-left: 15px;
  }
  .nav-menu {
    display: flex;
    height: auto;
    list-style: none;
    background: #004EAE;
    padding-left: calc(2% - 20px);
  }
  .nav-menu li {
    border-bottom: none;
  }
}
